.intro-section {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 30px;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}


@media (max-width: 768px) {
  .intro-section {
    flex-direction: column;
    align-items: center;
  }
 
  .profile-image {
    margin-bottom: 20px;
  }
}
